/* ====== Bowling ====== */
@media (max-width: 720px) {
    .bowling-canvas, #bowling-canvas { width: 100%; height: auto; }
}

@media (max-width: 560px) {
    #bowling-canvas { width: 100%; height: auto; }
}

@media (max-width: 380px) {
    #bowling-canvas { width: 100%; height: auto; }
}
